<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="footer-heading">КОНТАКТЫ</h4>
        <address class="contact-info">
          <p><i class="icon icon_phone ico-styled text-primary"></i> Администрация: +7 (8793) 32-12-21</p>

          <p><i class="icon icon_phone ico-styled text-primary"></i> Автосалон: +7 (8793) 32-12-03</p>
          <p><i class="icon icon_phone ico-styled text-primary"></i> Автосервис: +7 (8793) 32-12-15</p>
          <p><i class="icon icon_phone ico-styled text-primary"></i> Автомагазин: +7 (905) 410-49-59</p>
          <p><i class="icon icon_phone ico-styled text-primary"></i> Иномарки: +7 (8793) 32-22-19</p>
          <p><i class="icon icon_phone ico-styled text-primary"></i> Магазин АВТОDj: +7 (961) 464-50-02</p>
          <p><i class="icon icon_phone ico-styled text-primary"></i> Автострахование: +7 (928) 342-17-23</p>


          <p><i class="icon icon_mail_alt ico-styled text-primary"></i><a href="mailto:service@avtostar-kmv.ru">info@lada-avtostar.ru</a></p>
        </address>
      </div>
      <div class="col-md-4">
        <h4 class="footer-heading">ГРАФИК РАБОТЫ</h4>
        <address class="contact-info">

          <p><i class="fa fa-wrench ico-styled text-primary" style="margin-top: 15px;"></i>Технический центр: 8.00 - 19.00<br />без перерыва и выходных</p>
          <p><i class="fa fa-gears co-styled text-primary" style="margin-top: 15px;"></i> Автозапчасти: 8.00 - 19.00<br />без перерыва и выходных</p>
        </address>

      </div>
      <div class="col-md-4">
        <h4 class="footer-heading">МЫ НА СВЯЗИ</h4>
        <ul class="list-inline social-icons social-icons-small ">
          <li><a href="https://vk.com/avtostar_kmv" class="behance-bg-hover"><i class="fa fa-vk"></i></a></li>
          <li><a href="https://www.facebook.com/groups/1697564047227695/" class="facebook-bg-hover"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://ok.ru/group/53057574469777" class="soundcloud-bg-hover"><i class="fa fa-odnoklassniki"></i></a></li>

          <li><a href="#" class="instagram-bg-hover"><i class="fa fa-instagram"></i></a></li>


        </ul>



      </div>
    </div>
    <div class="footer-bottom">
      <p class="copyright-text left">© 2018 СТАНЦИЯ ТЕХНИЧЕСКОГО ОБСЛУЖИВАНИЯ АВТОМОБИЛЕЙ |АО ПРОИЗВОДСТВЕННАЯ ФИРМА "АВТОСТАР" г. ПЯТИГОРСК</p>
      <nav class="right">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-home"></i> </a></li>
          <li><a href="#">УСЛУГИ</a></li>
          <li><a href="#">МАГАЗИНЫ</a></li>
          <li><a href="#">КОНТАКТЫ</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <%  @n1 =  rand(10)%>
  <%  @n2 =  rand(10)%>
  <div id="small-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog modal-lg" role="document" style="top: 15%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel2">Оставьте Ваш номер и мы перезвоним</h4>
        </div>
        <div class="modal-body">

          <%= form_tag (contact_path)  do %>

              <div class="input-group input-group-lg">
                <input placeholder="Ваш телефон" required="required"   style="font-size: 30px;" class="form-control" data-mask="+7(999)999-99-99" type="text" name="phone">
                <span class="input-group-btn"> <%= submit_tag 'Жду звонка' , class:'btn btn-primary btn-lg center-block'%></span>
                </span>
              </div>
              <div class="col-sm-6 ">
                <%= image_tag(image_path('capthca/'+@n1.to_s+'.png'), class: 'capctha',alt:'')%>
                <%= image_tag(image_path('capthca/plus.png'), class: 'capctha',alt:'')%>
                <%= image_tag(image_path('capthca/'+@n2.to_s+'.png'), class: 'capctha',alt:'')%>
                <%= image_tag(image_path('capthca/eqal.png'), class: 'capctha',alt:'')%>
                <input  name="n3" required="required" placeholder="Ответ" type="number">
                <input id="nn1" name="n1" value="<%= @n1%>" type="hidden" />
                <input id="nn2" name="n2" value="<%= @n2%>" type="hidden" />
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="fancy-checkbox">
                      <input type="checkbox" required="required">
                      <span style="font-size: 14px;
                          font-weight: bold;">Я даю свое согласие на хранение и обработку моих персональных данных.</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="alert"></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</footer>
