<nav class="navbar navbar-default navbar-fixed-top navbar-shrinkable">
  <!-- TOP BAR -->
  <div class="nav-topbar clearfix " style="background-color: #376BAF;">
    <div class="container">
      <div class="left">
        <ul class="list-inline social-icons social-icons-small social-icons-fullrounded">
          <li><a href="https://www.vk.com/avtostar_kmv" class="behance-bg-hover"><i class="fa fa-vk"></i></a></li>
          <li><a href="https://www.facebook.com/avtostar.kmv/" class="facebook-bg-hover"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.ok.ru/avtostar.kmv" class="soundcloud-bg-hover"><i class="fa fa-odnoklassniki"></i></a></li>
          <li><a href="https://www.instagram.com/avtostar_kmv/" class="instagram-bg-hover"><i class="fa fa-instagram"></i></a></li>
          <!--    <li><a href="#" class="google-plus-bg-hover"><i class="fa fa-google-plus"></i></a></li>-->

          <!--  <li><a href="#" class="youtube-bg-hover"><i class="fa fa-youtube"></i></a></li>-->

        </ul>
      </div>
      <div class="right">

        <ul class="nav navbar-nav navbar-right" style="margin-top: -1px;">
          <li><a href="#" style="font-size: 15px;"><b>+7 (8793) 32-12-15</b></a></li>
          <li><a href="#" style="font-size: 15px;"><b>+7 (928) 341-83-22</b></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->

  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <i class="fa fa-bars"></i>
    </button>
    <a href="/" class="navbar-brand" >
      <%= image_tag(image_path('logo.png'),class:'logoimg') %>
    </a>
    <ul class="nav navbar-nav secondary-navbar-nav" >

    </ul>
    <div id="main-nav-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav main-navbar-nav">
        <li class="dropdown <%= current_class?(root_path)%>">
          <%= link_to '', root_path,  :class=>'fa fa-home' %>
        </li>

        <li class="dropdown dropdown-mega ">
          <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">ПРОДАЖА АВТОМОБИЛЕЙ LADA</a>
          <ul class="dropdown-menu">
            <li class="dropdown-mega-menu-container">
              <div class="row">
                <%= render 'shared/carsmenu' %>
              </div>
            </li>
          </ul>
        </li>


        <li class="dropdown dropdown-mega <%= @uslugigroup %>">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">УСЛУГИ</a>
          <ul class="dropdown-menu" style="width: 800px; left: 25% !important;">
            <li class="dropdown-mega-menu-container">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled menu-list">
                    <li><span>АВТОСЕРВИС</span></li>
                    <li class="<%= current_class?(to_remont_path)%>"> <%= link_to 'ТЕХНИЧЕСКИЙ ОСМОТР И РЕМОНТ', to_remont_path %></li>
                    <li class="<%= current_class?(avtomoika_path)%>"><%= link_to 'АВТОМОБИЛЬНАЯ МОЙКА', avtomoika_path %></li>
                    <li class="<%= current_class?(avtostekla_path)%>"><%= link_to 'РЕМОНТ И ЗАМЕНА АВТОСТЕКОЛ', avtostekla_path %></li>
                    <li class="<%= current_class?(diagnostika_path)%>"><%= link_to 'КОМПЬЮТЕРНАЯ ДИАГНОСТИКА', diagnostika_path %></li>
                    <li class="<%= current_class?(zona_priemki_path)%>"><%= link_to 'ЗОНА ПРИЕМКИ', zona_priemki_path %></li>
                    <li class="<%= current_class?(kuzovnoi_tseh_path)%>"><%= link_to 'КУЗОВНОЙ ЦЕХ', kuzovnoi_tseh_path %></li>
                    <li class="<%= current_class?(malyarnii_tseh_path)%>"><%= link_to 'МАЛЯРНЫЙ ЦЕХ', malyarnii_tseh_path %></li>
                    <li class="<%= current_class?(himchistka_i_polirovka_path)%>"><%= link_to 'ХИМЧИСТКА И ПОЛИРОВКА', himchistka_i_polirovka_path %></li>
                    <li class="<%= current_class?(razval_shozhdenie_path)%>"><%= link_to 'РАЗВАЛ-СХОЖДЕНИЕ', razval_shozhdenie_path %></li>
                    <li class="<%= current_class?(shinomontag_path)%>"><%= link_to 'ШИНОМОНТАЖ', shinomontag_path %></li>
                    <li class="<%= current_class?(anticoroziinaya_obrabotka_path)%>"><%= link_to 'АНТИКОРОЗИЙНАЯ ОБРАБОТКА', anticoroziinaya_obrabotka_path %></li>

                  </ul>
                </div>

                <div class="col-lg-6">
                  <ul class="list-unstyled menu-list">
                    <li><span>ПРОЧИЕ УСЛУГИ</span></li>
                    <li ><a href="/otherservice#techo_smotr">ТЕХНИЧЕСКИЙ ОСМОТР</a></li>
                    <li><a href="/otherservice#nezavisimay_ocenka">НЕЗАВИСИМАЯ ОЦЕНКА</a></li>
                    <li><a href="/otherservice#avto_strahovanie">АВТОСТРАХОВАНИЕ</a></li>
                    <li><a href="/otherservice#avto_atele">АВТОАТЕЛЬЕ</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown <%= @shopgroup %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">НАШИ МАГАЗИНЫ</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/avtomasla_optom">Оптовые поставки масел и автохимии</a></li>
            <li><a href="/ladadetal">Автозапчасти ВАЗ</a></li>
            <li><a href="/shops#inomarki">Автозапчасти для иномарок</a></li>
            <li><a href="/avtodj">Магазин автоэлектроники АвтоDJ</a></li>


          </ul>
        </li>
        <li class="dropdown <%= current_class?(contacts_path)%>">
          <%= link_to 'КОНТАКТЫ', contacts_path,  :class=>'dropdown-toggle' %>
        </li>



      </ul>
    </div>
    <!-- END MAIN NAVIGATION -->
  </div>
</nav>