<nav class="navbar navbar-default navbar-fixed-top ignore-paddingtop navbar-no-background">

  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <i class="fa fa-bars"></i>
    </button>
    <a href="/" class="navbar-brand" >
      <%= image_tag(image_path('logo.png'),class:'logoimg') %>
    </a>
    <ul class="nav navbar-nav secondary-navbar-nav" >

    </ul>
    <div id="main-nav-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav main-navbar-nav">
        <li class="dropdown <%= current_class?(root_path)%>">
          <%= link_to '', root_path,  :class=>'fa fa-home' %>
        </li>



        <li class="dropdown dropdown-mega <%= @uslugigroup %>">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">УСЛУГИ</a>
          <ul class="dropdown-menu" style="width: 800px; left: 25% !important;">
            <li class="dropdown-mega-menu-container">
              <div class="row">
                <div class="col-lg-4">
                  <ul class="list-unstyled menu-list">
                    <li><span>АВТОСЕРВИС</span></li>

                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="list-unstyled menu-list">
                    <li><span>АВТОСАЛОН</span></li>
                    <li ><a href="/avtosalon#avtocredit">АВТОКРЕДИТ</a></li>
                    <li ><a href="/avtosalon#testdrive">ТЕСТ-ДРАЙВ</a></li></li>
                    <li><a href="/avtosalon#avtorinok">ПРОДАЖА Б\У АВТОМОБИЛЕЙ</a></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul class="list-unstyled menu-list">
                    <li><span>ПРОЧИЕ УСЛУГИ</span></li>
                    <li ><a href="/otherservice#techo_smotr">ТЕХНИЧЕСКИЙ ОСМОТР</a></li>
                    <li><a href="/otherservice#nezavisimay_ocenka">НЕЗАВИСИМАЯ ОЦЕНКА</a></li>
                    <li><a href="/otherservice#avto_strahovanie">АВТОСТРАХОВАНИЕ</a></li>
                    <li><a href="/otherservice#avto_atele">АВТОАТЕЛЬЕ</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown <%= @shopgroup %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">НАШИ МАГАЗИНЫ</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/shops#vaz">Автозапчасти ВАЗ</a></li>
            <li><a href="/shops#inomarki">Автозапчасти для иномарок</a></li>
            <li><a href="/shops#avtodj">Магазин автоэлектроники AvtoDJ</a></li>


          </ul>
        </li>
        <li class="dropdown ">

        </li>

      </ul>
    </div>
    <!-- END MAIN NAVIGATION -->
  </div>
</nav>