<div class="col-md-3 col-sm-3">
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li class="active"><a aria-expanded="true" href="#xraycross" role="tab" data-toggle="tab"><i > <%= image_tag(image_path('xraycross.png'), class: 'verticaltabsimages') %></i> КРОССОВЕР</a></li>
  </ul>
</div>
<div class="col-md-9 col-sm-9 popover-div-border">
  <div class="tab-content tab-stacked">
    <div class="tab-pane fade active in imgshadow" id="xraycross" style="height: 400px; background-image:url(<%= image_path('xraycross.jpg')%>); background-size: cover;">


      <%= link_to "Обзор", model_xraycross_path,  :class=>"btn btn-warning popover-btn2" %>


      <div class="popover-div-size">
        <div style="float:left; ">
          <%= image_tag(image_path('carinfo1.png'), class: 'popover-icons')%>
        </div>
        <div class="popover-div">
          расход<br />7,2 <sub>л/100км</sub>
        </div>

        <div style="float:left; ">
          <%= image_tag(image_path('carinfo2.png'), class: 'popover-icons')%>
        </div>
        <div class="popover-div">
          цена, от<br /><i class="fa fa-rub"></i>549 000<sup>*</sup>
        </div>


        <div style="float:left; ">
          <%= image_tag(image_path('testdrive_ico.png'), class: 'popover-icons')%>
        </div>
        <div class="popover-div">
          ДОСТУПЕН<br />ТЕСТ-ДРАЙВ
        </div>
      </div>
    </div>
  </div>
</div>