
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/masla/head.jpg')%>); padding: 200px 0; background-position: inherit; ">
  <div class="overlay"></div>
  <div class="container">

    <h1 class="page-title toupp">
      Автомобильные масла и автохимия оптом в Пятигорске
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="row icon-info-group">
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <i class="icon "> <%= image_tag(image_path('pages/masla/h60-1.gif')) %></i>
          <h3 class="title">ЛИЧНЫЙ МЕНЕДЖЕР</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <i class="icon "> <%= image_tag(image_path('pages/masla/h60-2.gif')) %></i>
          <h3 class="title">ВСЕГДА ОПЕРАТИВНАЯ ОТГРУЗКА</h3>

        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <i class="icon "> <%= image_tag(image_path('pages/masla/h60-3.gif')) %></i>
          <h3 class="title">СЕРТИФИКАТЫ КАЧЕСТВА ПРОИЗВОДИТЕЛЕЙ</h3>

        </div>
      </div>


    </div>




    <div class="row margin-top-30">
      <div class="col-md-6">
        <h2 class="heading-border-bottom-short border-primary">Мы предлагаем сотрудничество</h2>
        <div class="panel-group" id="accordion3">
          <div class="panel panel-minimal">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" class="collapsed" aria-expanded="false">Автотранспортным предприятиям</a>
              </h4>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <p>
                <ul>
                  <li>Приемлемые цены;</li>
                  <li>Проекты по решению проблем связанных со снижением эксплуатационных затрат;</li>
                  <li>Консультации по применяемости моторных , трансмиссионных масел, а также смазок, антифризов и автохимии;</li>
                  <li>Максимально возможное обеспечение специфических потребностей в смазочных материалах;</li>
                  <li>Практически стопроцентное выполнение заявок;</li>
                  <li>Доставка заказанного товара в течении суток или в заранее оговоренный срок;</li>
                  <li>Персонального менеджера;</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-minimal">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3" class="collapsed" aria-expanded="false">Автомагазинам</a>
              </h4>
            </div>
            <div id="collapseTwo3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>
                <ul>
                  <li>Заманчивые цены</li>
                  <li>Максимально возможное обеспечение ассортимента автомасел, антифризов, автохимии и автопринадлежностей</li>
                  <li>Практически стопроцентное выполнение заявок</li>
                  <li>Доставка заказанного товара в течении суток или в заранее оговоренный срок</li>
                  <li>Персонального менеджера</li>
                  <li>Обеспечение рекламной продукцией</li>
                  <li>Для вновь открывающихся автомагазинов оказываем помощь в подборе ассортимента</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-minimal">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3" class="collapsed" aria-expanded="false">Станциям технического обслуживания</a>
              </h4>
            </div>
            <div id="collapseThree3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>
                <ul>
                  <li>Приемлемые цены</li>
                  <li>Максимально возможное обеспечение ассортимента автомасел, антифризов, автохимии</li>
                  <li>Практически стопроцентное выполнение заявок</li>
                  <li>Доставка заказанного товара в течении суток или в заранее оговоренный срок</li>
                  <li>Персонального менеджера</li>
                  <li>Обеспечение рекламной продукцией</li>
                  <li>Помощь в максимальном уменьшении внутренней себестоимости технического обслуживания</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-minimal">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse4" class="collapsed" aria-expanded="false">Автозаправочным комплексам</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>
                <ul>
                  <li>Приемлемые цены</li>
                  <li>Максимально возможное обеспечение ассортимента&nbsp; автомасел, антифризов, автохимии</li>
                  <li>Практически стопроцентное выполнение заявок</li>
                  <li>Доставка заказанного товара&nbsp; в течении суток или в заранее оговоренный срок.</li>
                  <li>Персонального менеджера</li>
                  <li>Обеспечение рекламной продукцией</li>
                  <li>Помощь в подборе оптимального ассортимента автомасел, антифризов, автохимии и автопринадлежностей</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-minimal">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse5" class="collapsed" aria-expanded="false">Оптовым компаниям</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>
                <ul>
                  <li>Цены от производителя</li>
                  <li>Широкий ассортимент продукции</li>
                  <li>Практически стопроцентное выполнение заявок</li>
                  <li>Высокое качество погрузочно-разгрузочных работ</li>
                  <li>Персонального менеджера</li>
                  <li>Доставка заказа до транспортной компании</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-minimal">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#collapse6" class="collapsed" aria-expanded="false">Физическим лицам</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>
                  По вопросам приобретения продукции, оставьте заявку на сайте. Наши менеджеры Вам перезвонят.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="main clearfix" style="border: 1px dotted;
            border-radius: 4px;
            padding: 15px;
            color: #000;
            background-color: rgba(55, 107, 175, 0.75);
            ">

          <div class="right">
            <div class="section-heading">
              <h2 class="heading-border-bottom-short border-primary" style="color: #000;">Запрос
                на оптовые цены</h2>
            </div>
            <p class="lead">Оставьте Ваш номер и мы перезвоним</p>

            <%= form_tag (contact_path)  do %>
                <input type="text" class="form-control" id="contact-name" placeholder="Имя" required="required">
                <br>
                  <input placeholder="Ваш телефон" required="required"    class="form-control" data-mask="+7(999)999-99-99" type="text" name="phone">
                <br>
                <textarea class="form-control" id="contact-message" name="message" rows="5" cols="30" placeholder="Что Вас интересует?"></textarea>
                <br>


                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="fancy-checkbox">
                        <input type="checkbox" required="required">
                        <span style="font-size: 14px;
                            font-weight: bold;">Я даю свое согласие на хранение и обработку моих персональных данных.</span>
                      </label>
                    </div>
                  </div>
                </div>
                <%= submit_tag 'Отправить' , class:'btn btn-primary btn-md '%>
                <div class="alert"></div>
            <% end %>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="staticBlock"> <h2 class="heading-center heading-border-bottom-short border-primary">Купить автомасла оптом и автохимию оптом</h2><p class="untouchable">ЗАО ПФ "АВТОСТАР" предлагает автомасла (автомобильные моторные масла оптом, масла трансмиссионные, масла гидравлические, смазки) охлаждающие жидкости (тосол, антифриз), автохимия, автоаксессуары, автокосметика ABRO, BODY, Turtle Wax и многое другое оптом в Пятигорске и КМВ.</p>
          <p class="untouchable">Мы много лет продаем автомобильные масла, автохимию и автокосметику и можем компетентно проконсультировать по всем вопросам касательно ассортимента и технических характеристик. Но, как показывает практика, те, кто покупают автохимию и масла оптом, разбираются в товаре не хуже нас.</p>
          <p class="untouchable"><b>Наше преимущество - цены</b></p>
          <p>Цены интересуют оптовиков в первую очередь. Важно и качество приобретаемого товара, от которого в итоге зависит ваша репутация как продавца (и наша в том числе). Поэтому предлагая купить автомасла, тосол, антифриз, автохимию и автокосметику оптом, мы сделали ставку на высокое качество продукции, разработав гибкую ценовую политику, чтобы с нами было приятно работать.</p>
          <h2 class="heading-center heading-border-bottom-short border-primary">Почему на автомасла цены у нас ниже, чем у многих конкурентов:</h2>
          <ul class="untouchable" style="text-align: justify;">
            <li>работаем по прямым договорам с ведущими производителями и дистрибьюторами автомасел и автохимии, что позволяет значительно сократить финансовые издержки, закладываемые в стоимость товара;</li>
            <li>закупаем масла оптом (цены еще и поэтому у нас приятно низкие). Это же правило распространяется на автоаксессуары, косметику, химию;</li>
            <li>большие площади складских помещений позволяют поддерживать постоянный запас и обеспечивать 95%-ное наличие ассортимента на момент заказа. Готовность отгрузить любую партию товара экономит ваше время (и деньги, соответственно).</li>
          </ul>
          <p class="untouchable" style="text-align: justify;">Именно поэтому (и потому, что мы  разделяем все проблемы автомобилистов) химию, косметику и моторное масло оптом купить у нас можно действительно с ощутимой выгодой, дешевле, чем у многих известных крупных поставщиков.</p>
         </div>
      </div>
    </div>
    <div class="section-heading section-heading-center">
      <h2 class="heading">ПРЕДЛАГАЕМЫЕ БРЕНДЫ</h2>
      <p class="section-lead">Наличие товара уточняйте у менеджеров</p>
    </div>
    <!-- ITEM FILTERS -->
    <ul class="list-inline portfolio-item-filters">
      <li><a class="active" href="#" data-filter="*">ВСЕ</a></li>
      <li><a href="#" data-filter=".otmas">Отечественные масла</a></li>
      <li><a href="#" data-filter=".immas">Импортные масла</a></li>
      <li><a href="#" data-filter=".imhim">Импортная химия</a></li>
      <li><a href="#" data-filter=".othim">Отечественная химия</a></li>
      <li><a href="#" data-filter=".abro">ABRO</a></li>
      <li><a href="#" data-filter=".aro">Ароматизаторы</a></li>
      <li><a href="#" data-filter=".zap">Запасные части</a></li>
      <li><a href="#" data-filter=".lamp">Автолампы</a></li>
      <li><a href="#" data-filter=".sve">Свечи зажигания</a></li>
      <li><a href="#" data-filter=".ohz">Охлаждающие жидкости</a></li>
      <li><a href="#" data-filter=".fil">Фильтра</a></li>
      <li><a href="#" data-filter=".spz">Специальные жидкости</a></li>
      <li><a href="#" data-filter=".torz">Тормозные жидкости</a></li>
      <li><a href="#" data-filter=".shpat">Шпатлевка</a></li>
      <li><a href="#" data-filter=".ctek">Щетки стеклоочистителя</a></li>
      <li><a href="#" data-filter=".raz">Разное</a></li>






    </ul>
    <!-- END ITEM FILTERS -->
    <div class="isotope-wrapper">
      <div class="portfolio-isotope" style="position: relative; height: 1140px;">
        <ul class="portfolio-3-cols">
          <% @ms.each do |ms| %>
              <li class="portfolio-item <%= ms.typ %>" style="position: absolute; left: 0px; top: 0px;">
                <div class="portfolio-simple">
                  <img src="<%= ms.image %>"  class="img-responsive" alt="Portfolio">
                  <div class="info" style="height: 60px;">
                    <h3 class="title"><%= ms.descr %></h3>
                    <span></span>

                  </div>
                </div>
              </li>
          <%end%>
        </ul>
      </div>
    </div>
</div>
</div>








