<% @ppage = 'avtomoika'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      ваша машина захочет быть у нас чаще
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    ЗАО ПФ “Автостар” предлагает следующие услуги:
    <ul>
      <li>Бесконтактная мойка автомобилей;</li>
      <li>Современный стенд сушки;</li>
      <li>Подъемник для обработки дна автомобиля.</li>
    </ul>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">В современных реалиях, автолюбители часто сталкиваются с необходимостью поддержания своего железного товарища в порядке и чистоте, поэтому подавляющее большинство оправданно пекутся о правильном выборе автомойки.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: 'pagesimg thumbnail')%>
    <p class="pwin">Чем отличается наша мойка от многих других на дорогах нашего города? Наша мойка ориентирована на новый, качественный уровень обслуживания клиентов. Мы относимся к вашему автомобилю, как к своему и в полном объеме реализуем свое профессиональное мастерство. Всем известно, что любой автомобиль, также как и девушка, любит чистоту и порядок. Она служит вам верой и правдой, так что логично ответить ей тем же. А с чистотой и порядком мы поможем за умеренную плату.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/3.jpg', class: 'pagesimg thumbnail')%>
    <p class="pwin">Мы используем все самые современные инструменты. Бесконтактная мойка автомобилей, современный стенд сушки, подъемник для обработки дна автомобиля. В нашей мойке, может обслуживаться одновременно до трех автомобилей, так что, вам не придется долго стоять в очереди и терять свое время.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/4.jpg', class: 'pagesimg thumbnail')%>
    <p class="pwin">А пока ваш автомобиль будет проходить свои «процедуры», вы сможете поближе познакомиться с нашим автосервисом, посетить наши магазины или отдохнуть в зале ожидания. Наши мастера должным образом помоют, обсушат и поставят на стоянку автомобиль. И можем вас заверить, попробовав один раз, вы обязательно приедете к нам вновь как и 95% наших клиентов, которые стали нашими постоянными, после случайно визита к нам.
    </p>
  </div>
</div>