<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/masla/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      КАТАЛОГ АВТОМОБИЛЬНЫХ МАСЕЛ, ТОСОЛОВ И АНТИФРИЗОВ, АВТОХИМИИ И АВТОКОСМЕТИКИ
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- FILTER CATEGORY -->
        <div class="widget widget-filter">
          <h4 class="widget-title">МАСЛА ИМПОРТНЫЕ</h4>
          <ul class="list-unstyled product-attribute-link-list">
            <li><i><img src="<%= image_path('pages/masla/shop/castrol.png')%>"></i><a href="#"> CASTROL</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/elf.png')%>"></i><a href="#"> ELF</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/zic.png')%>"></i><a href="#"> ZIC</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/mannol.png')%>"></i><a href="#"> MANNOL</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/visco.png')%>"></i><a href="#"> BP VISCO</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/mobil.png')%>"></i><a href="#"> MOBIL</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/shell.png')%>"></i><a href="#"> SHELL</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/total.png')%>"></i><a href="#"> TOTAL</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/lm.png')%>"></i><a href="#"> LIQUI MOLY</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/agip.png')%>"></i><a href="#"> AGIP</a></li>

          </ul>
        </div>
        <!-- END FILTER CATEGORY -->
        <!-- FILTER BRAND -->
        <div class="widget widget-filter">
          <h4 class="widget-title">МАСЛА ОТЕЧЕСТВЕННЫЕ</h4>
          <ul class="list-unstyled product-attribute-link-list">
            <li><i><img src="<%= image_path('pages/masla/shop/lukoil.png')%>"></i><a href="#"> ЛУКОЙЛ</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/gz.png')%>"></i><a href="#"> ГАЗПРОМНЕФТЬ</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/oilright.png')%>"></i><a href="#"> ОЙЛ-РАЙТ</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/spectrol.png')%>"></i><a href="#"> СПЕКТРОЛ</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/rosneft.png')%>"></i><a href="#"> РОСНЕФТЬ</a></li>
            <li><i><img src="<%= image_path('pages/masla/shop/tnk.png')%>"></i><a href="#"> ТНК</a></li>
          </ul>
        </div>

      </div>
      <div class="col-md-9">

        <!-- PRODUCT DISPLAY -->
        <div class="product-display">
          <!-- DISPLAY CONTROLS -->

          <!-- END DISPLAY CONTROLS -->
          <!-- PRODUCT GRID -->
          <ul class="list-inline row product-grid">
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2909.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">CASTROL EDGE Titanium FST 0w30 (1 л)  </a></h3>
                  <p class="short-description">Синтетика А3/В4 BMW LL-01, VW502 00/505 15334B/157E6A</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2910.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">CASTROL EDGE Titanium FST 0w30 (4 л) </a></h3>
                  <p class="short-description"> Синтетика А3/В4 BMW LL-01, VW502 00/505 15333F/157E6B</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2909.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">CASTROL EDGE Titanium FST 0w30 (1 л)  </a></h3>
                  <p class="short-description">Синтетика А3/В4 BMW LL-01, VW502 00/505 15334B/157E6A</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2910.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">CASTROL EDGE Titanium FST 0w30 (4 л) </a></h3>
                  <p class="short-description"> Синтетика А3/В4 BMW LL-01, VW502 00/505 15333F/157E6B</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-md-4 col-sm-6">
              <div class="product-item">
                <a href="shop-product-single.html">
                  <img src="<%= image_path('pages/masla/shop/castrol/b_2929.jpg')%>" class="img-responsive" alt="Product Image">

                </a>
                <div class="product-info">
                  <h3 class="title"><a href="shop-product-single.html">0w30 Titanium A3/B4 4л.(4шт) </a></h3>
                  <p class="short-description">ПолуСинтетика R 153BOC/156EB4</p>
                  <div class="bottom">

                    <a href="#" class="btn btn-primary btn-addtocart"><i class="fa fa-cart-plus"></i> в заказ</a>
                  </div>
                </div>
              </div>
            </li>


          </ul>
          <!-- END PRODUCT GRID -->
        </div>
        <!-- PRODUCT DISPLAY -->
      </div>
    </div>

  </div>
</div>