<% @ppage = 'avtosalon'%>
<div id="avtocredit" data-section-title="avtocredit"></div>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
Автосалон LADA - мы заслужили доверие крупнейшего в стране авто-производителя

    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">


      <div class="row ">
        <div class="col-md-6 left " >
          <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg2')%>
          <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg2')%>

        </div>
        <div class="col-md-6 right">
          <div class="content">
            <h3 class="name heading-border-left border-primary">АВТОКРЕДИТОВАНИЕ</h3>
            <div class="margin-top-30"></div>
            <p class="pwin">Запущена Государственная программа льготного автокредитования на автомобили LADA.
              Условия просты. Вы оформляете кредит на новый автомобиль LADA (2015 года), а государство компенсирует часть от процентной ставки, тем самым значительно сокращая затраты.
            </p>
            <p class="pwin"><strong>LADA Finance</strong> – программа автокредитования, реализуемая ОАО “АВТОВАЗ” совместно с банками-партнерами.
              Приобрести автомобиль по программе LADA Finance можно у официального дилера LADA ЗАО ПФ “Автостар” в г. Пятигорск.
              <br>
              <br><strong>Преимущества LADA Finance</strong>:</p>
            <ul style="text-align: justify;">
              <li>Процентные ставки по кредиту ниже базовых предложений банков-партнеров.</li>
              <li>Доступный первоначальный взнос.</li>
              <li>Оптимальные сроки кредитования.</li>
              <li>Быстрое принятие предварительного решения о выдаче кредита.</li>
            </ul>

            <p class="pwin">Нужно отметить, что данные предложения не отменяют условия программы утилизации и может проходить в сумме с льготной государственной программой автокредитования и LADA Finance. Таким образом до конца сентября 2016 г. есть уникальная возможность получить двойную скидку на приобретение нового автомобиля семейства LADA.
            </p>

            <button style="display : block;margin : auto;" type="button" class="btn btn-primary btn-lg featurebtn" data-toggle="modal" data-target="#modalcredit"><%= image_tag(image_path('avtokredit_ico.png'), class: 'buttonimg' )%>  ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
            <div class="margin-bottom-10"></div>
            <p class="pwin">Основные преимущества кредитования у официального дилера LADA ЗАО ПФ “Автостар” в Пятигорске является то, что мы сможем подобрать Вам наиболее подходящие условия для Вашего кредита. Есть так же предложения без первоначального взноса. Вы просто оформляете кредит и забираете автомобиль себе сегодня, а платить начинаете только в следующем месяце.
            </p>
            <p class="pwin">ЗАО ПФ «Автостар» является официальным партнером банков ООО СЕТЕЛЕМ Банк, ПАО Банк Плюс, ООО РусфинансБанк, Связь банк»
            </p>






            <div id="testdrive" data-section-title="testdrive"></div>

          </div>
        </div>
      </div>
    <div class="row">

      <h3 class="uppercase main-color" align="center">ключевые особенности банков-партнеров</h3>
      <div class="col-md-4">
        <h5 class="name heading-border-left border-primary uppercase">Сетелем банк</h5>
        <ol>
          <li>Ставка от 8,9%</li>
          <li>Первоначальный взнос от 20% минимальный</li>
          <li>Срок от 1 до 5 лет</li>
          <li>Минимальный пакет для подачи заявки (паспорт+Снилс, ИНН, вод.удостоверение.загранпаспорт)</li>
          <li>Подтверждение работы не нужно.</li>
          <li>Рассмотрение заявки от 10 минут до 2 часов</li>
          <li>Работает с республиками</li>
          <li>Возможность оформления Каско в кредит</li>
        </ol>
      </div>
      <div class="col-md-4">
        <h5 class="name heading-border-left border-primary uppercase">Связь банк</h5>
        <ol>
          <li>Ставка от 9,9%</li>
          <li>Первоначальный взнос от 20% минимальный</li>
          <li>Срок от 1 до 5 лет</li>
          <li>Минимальный пакет для подачи заявки (паспорт+Снилс, ИНН, вод.удостоверение.загранпаспорт)</li>
          <li>Подтверждение работы нужно, для уменьшения % ставки.</li>
          <li>Если 2 документа -подтверждение работы не нужно.</li>
          <li>Рассмотрение заявки в течении 2х часов</li>
          <li>Работает с республиками</li>
          <li>Возможность оформления Каско в кредит</li>
        </ol>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="col-md-6 left " >
        <div class="content">
          <h3 class="name heading-border-left  border-primary ">ТЕСТ ДРАЙВ</h3>
          <div class="margin-top-30"></div>
          <p class="pwoin">На данный момент для проведения Тест-драйва в Пятигорске доступны 2 автомобиля: LADA VESTA
            и Lada XRAY. Тест-Драйв проводится по рабочим дням с понедельника по пятницу включительно с 9-00 до 16-00.
            Записаться на Тест-Драйв можно тремя способами:</p>
          <ul>
            <li><button type="button" class="btn btn-primary btn-outline btn-lg uppercase" data-toggle="modal" data-target="#modaltestdrive">Заполнить форму на сайте</button>
            </li>
            <li>
              Позвонить по телефону +7 (793) 32-12-03 и мы с вами согласуем дату и время посещения автосалона для проведения Тест-Драйва.
            </li>
            <li>
              Непосредственный визит в наш салон, где уже на месте согласовываются все данные и время для проведения Тест-Драйва.
            </li>
          </ul>

          <div id="rules" data-section-title="rules"></div>
        </div>
      </div>
      <div class="col-md-6 right">
        <%= image_tag('pages/services/'+ @ppage + '/4.jpg', class: ' thumbnail pagesimg1')%>
      </div>
    </div>




      <h3 class="uppercase main-color" align="center">Правила и условия проведения тест-драйва</h3>

      <p class="pwoin">На момент проведения Тест-Драйва при себе иметь паспорт, действующее водительское удостоверение.
        При этом необходимо будет заполнить анкету проведения Тест-Драйва, подписать соглашение о безопасности, с
        которым можете ознакомиться ниже.
      </p>
      <div id="testdriverules" data-section-title="testdriverules">
        <ul>
        <li>Пробная поездка проводится в присутствии продавца-консультанта и строго по маршруту, обозначенному в путевом листе.</li>
          <li>К пробной поездке допускаются клиенты, имеющие водительское удостоверение на управление ТС
          соответствующей категории более 2-х лет, а так же необходимые навыки управления ТС.</li>
          <li>Клиент обязан знать и соблюдать при проведении пробной поездки Правила дорожного движения
          Российской Федерации (ПДД РФ) и требования продавца-консультанта.</li>
          <li>При движении все участники пробной поездки должны быть пристегнуты ремнями безопасности,
          которыми оборудовано ТС.</li>
          <li>Клиенту запрещается управлять ТС в состоянии опьянения (алкогольного, наркотического, или иного),
          под воздействием лекарственных препаратов, ухудшающих реакцию и внимание, в болезненном или утомленном
          состоянии, ставящем под угрозу безопасность движения.</li>
          <li>Клиент обязан вести ТС со скоростью, не превышающей установленного ограничения, учитывая при этом
          интенсивность движения, дорожные и метеорологические условия. Скорость должна обеспечивать возможность
          постоянного контроля за движением ТС для Выполнения ПДД РФ.</li>
          <li>Клиенту запрещается создавать помехи другим ТС, двигаться без необходимости со
          слишком малой скоростью, резко тормозить, если это не требуется для предотвращения ДТП.</li>
          <li>Лица, нарушившие ПДД РФ, несут ответственность в соответствии с действующим законодательством.</li>
          <li>Все риски и ответственность за причинение вреда автомобилю и иному имуществу
          продавца-консультанта, а также жизни и здоровью третьих лиц во время проведения пробной
          поездки, несет клиент. Причиненный вред подлежит возмещению клиентом по требованию продавца-
          консультанта в установленный продавцом-консультантом срок.</li>
          <li>Решение о допуске клиента к пробной поездке, а, равно как и к отстранению от нее
          независимо от этапа прохождения, принимаются исключительно продавцом-консультантом</li>
        <div id="avtorinok" data-section-title="avtorinok"></div>
      </ul>
    </div>

<h3 class="name heading-border-left border-primary">АВТОРЫНОК</h3>
      <p class="pwin">Как говорят: “Надо иметь счастье удачно купить машину, и два счастья, чтобы ее удачно продать!”. Продают подержанные автомобили по-разному: через объявления в соответствующих изданиях, через объявления в интернете, через знакомых. Но самый лучший способ, конечно, – авторынок. Здесь весь процесс под контролем. Корректная рыночная цена, непосредственный контакт с покупателем, убеждения, моментальные корректировки, договоры, залоги – одним словом, торги в живую.
      </p>
      <p class="pwin">Ваша машина станет ярче, привлекательнее как снаружи, так и внутри. Даже если вы не гонитесь за особой выгодой, особая подготовка машины позволит продать ее намного быстрее. Нет возможности лично заниматься продажей? Вы всегда можете рассчитывать на нашу помощь. На круглосуточно охраняемом авторынке-стоянке всегда найдется место для вашего автомобиля, а мы сами найдем покупателя. К вашим услугам также мойка, предпродажная подготовка, поиск покупателя с помощью рекламы на ТВ и в сети Интернет, в газете и по авторынку.
      </p>
      <p class="pwin">Салонов много, а авторынок один, крупнейший в регионе, где так же продают и перепродают автомобили, наводя им блеск и товарный вид. Прошло время стихийных рынков по продаже автомобильной техники. Наше предприятие ЗАО ПФ «Автостар», проанализировав ситуацию, приняли решение под своим началом объединить для удобства наших клиентов услуги от приобретения, обслуживания и реализации своих автомобилей.
        Если вы в поисках надежного, практичного и недорогого поддержанного автомобиля на КМВ, то вам прямая дорога в известный авторынок Пятигорска при ЗАО ПФ «Автостар».
        Говорить о нем, нет смысла, потому как это один из самых крупных авторынков на всем СКФО. Сюда съезжаются из всех ближайших регионов страны. Разнообразие выбора поражает воображение, а вероятность нахождения нужного вам автомобиля очень высока.
      </p>
      <p class="pwin">Авторынок, пожалуй идеальное место для того, чтобы продать ваш автомобиль. Мы работаем в выходные дни — субботу и воскресенье, это самые оптимальные дни, чтобы собрать гостей, купить или продать автомобиль. В выходные обширная территория функционирует как стоянка. При выборе можно воспользоваться как открытой, так и закрытой территорией.
        Здесь есть очевидные преимущества — это одно большое пространство, в котором преобладает огромный выбор.
      </p>
      <p class="pwin">Но, конечно, нет лучшего варианта, чем выбор нового автомобиля. Если же вы все-таки передумаете брать поддержанный авто, можете направиться прямиком в автосалон, который удобно расположился на той же территории.
      </p>





  </div>
</div>