<% @ppage = 'himka'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      будто ваш автомобиль только что выпустили с завода
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">


    <p class="pwi">Все автолюбители проводят много времени в своих автомобилях. В салоне авто они перевозят пассажиров, детей, домашних животных, пьют кофе и даже кушают.  Все это приводит к тому, что салон автомобиля становится грязным. В этом случае на помощь приходит химчистка салона.</p>

    <p class="pwi">Химчистка салона автомобиля большинством автолюбителей производится всего лишь один раз — за неделю до продажи железного коня. Но, на самом деле, это нужно делать чаще, и в салоне будет чище, не стоит забывать и о здоровье. А вот полировка автомобиля необходима 1-2 раза в год.</p>
    <p class="pwi">В таком виде автомобиль приходит к нам на химчистку в Пятигорске:</p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg1')%>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg1')%>
    <%= image_tag('pages/services/'+ @ppage + '/3.jpg', class: ' thumbnail pagesimg1')%>
    <h3 class="uppercase main-color">Для чего нужна химчистка салона</h3>

    <p class="pwi">Химчистку салона проводят не только для того, чтобы автомобиль выглядел красивее. Это далеко не самая важная причина. Грязь и пыль, которые накапливаются в салоне автомобиля во время эксплуатации, могут вызвать аллергию. Если вы регулярно перевозите детей, то это вдвойне опаснее. Поэтому, для того чтобы обезопасить себя и членов семьи от пагубного воздействия вредных веществ, необходимо регулярно проводить комплексную химчистку салона, после чего полировка кузова автомобиля становится просто необходимой.</p>
    <h3 class="uppercase main-color">Этапы химчистки автомобиля</h3>

    <p class="pwi">А в таком вы получаете свой автомобиль обратно:</p>
    <%= image_tag('pages/services/'+ @ppage + '/4.jpg', class: ' thumbnail pagesimg1')%>
    <%= image_tag('pages/services/'+ @ppage + '/5.jpg', class: ' thumbnail pagesimg1')%>
    <%= image_tag('pages/services/'+ @ppage + '/6.jpg', class: ' thumbnail pagesimg1')%>
    <p class="pwi">В нашем салоне химчистки проводят в несколько этапов. Начинаться она должна с сухой чистки, во время которой все элементы из дерева, кожи, стекла и ткани тщательно очищаются с помощью мощного пылесоса. После этого приступают к разборке и очищению съемных элементов салона.</p>

    <p class="pwi">Закончив сухую чистку, приступают к влажной. Для этого салон обрабатывается химическими очищающими составами, а после промывается. После влажной уборки проводят тщательную сушку салона и устанавливают обратно съемные элементы. После химчистки также желательна и полировка кузова, что сделает ваше транспортное средство практическими новеньким.</p>
    <h3 class="uppercase main-color">Detailing Studio</h3>
    <p class="pwi">На сегодняшний день - Detailing Studio Brilliant Effect является инновационным
      центром по уходу за экстерьером и интерьером автомобилей с эксклюзивными защитными средствами .
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/7.jpg', class: ' thumbnail pagesimg1')%>
    <p class="pwi"> Что значит детейлинг ?
      Детейлинг (англ. detailing – подробно) – это комплекс высокотехнологических операций,
      нацеленный на тщательный полный уход за автомобилем, буквально за каждым его сантиметром.
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/8.jpg', class: ' thumbnail pagesimg1')%>
    <p class="pwi">
    Основная задача нашего центра — защитить Ваш автомобиль от негативного воздействия окружающей
      среды, придать ему максимально возможную, совершенную красоту и сохранить ее на долгие годы. Вашему
      вниманию предлагается всесторонний комплекс услуг по обслуживанию, восстановлению и защите превосходного
      внешнего вида автомобиля, уходу за его кузовом, дисками, стеклами и салоном:</p>

    <p class="pwi">
      <ul>
       <li>Защитное керамическое покрытие Ceramic Coat Ultima от ServFaces</li>
        <li>Восстановительное защитное покрытие Restor FX</li>
        <li> Защитное покрытие кузова Advance</li>
        <li> Жидкое стекло Willson</li>
        <li> Керамическая защита дисков Ceramic Rims</li>
        <li> Защита кожаных элементов салона Ceramic Leather</li>
        <li> Антидождевое покрытие на лобовое стекло Aquapel</li>
        <li> Бронирование кузова</li>
      </ul>
    </p>
    <%= image_tag('pages/services/'+ @ppage + '/9.jpg', class: ' thumbnail pagesimg1')%>
  </div>

</div>