<div class="tp-banner-container indent-header-2 page-main-content">

  <div class="slider-1 clearfix">

    <div class="flex-container">
      <div class="flexslider loading">
        <ul class="slides">
          <!-- SLIDE 1 -->
          <li style="background:url(<%= asset_path('slide-5.jpg') %>) repeat; background-position:50% 0; background-size:cover;z-index: 0!important;">

            <div class="container">

              <div class="sixteen columns contain">
                <h2 data-toptitle="36%" style="color: #FFFFFF;
                    top: 39%;
                    left: 0px;
                    opacity: 1;
                    font-size: 40px;">УСТАНОВКА ДОПОЛНИТЕЛЬНОГО ОБОРУДОВАНИЯ</h2>
                <p data-bottomtext="20%" >БЫСТРО КАЧЕСТВЕННО ДОСТУПНО </p >




              </div>
              <a class="btn btn-primary" href="/avtodj">Подробнее</a>
            </div><!-- End Container -->

          </li><!-- End item -->
          <li style="background:url(<%= asset_path('slide-1.jpg') %>) repeat; background-position:50% 0; background-size:cover;z-index: 0!important;">

            <div class="container">
              <div class="sixteen columns contain">
                <h2 data-toptitle="36%" style="color: #FFFFFF;
                    top: 39%;
                    left: 0px;
                    opacity: 1;
                    font-size: 40px;">ЗАМЕНА МАСЛА</h2>
                <p data-bottomtext="36%" >БЫСТРО КАЧЕСТВЕННО ДОСТУПНО</p >
                <div class="links" data-bottomlinks="30%">

                </div>


              </div>
            </div><!-- End Container -->

          </li><!-- End item -->
          <li style="background:url(<%= asset_path('slide2.jpg') %>) repeat;background-position:50% 0;background-size:cover;z-index: 0!important;">

            <div class="container">
              <div class="sixteen columns contain">
                <h2 data-toptitle="36%" style="color: #FFFFFF;
                    top: 39%;
                    left: 0px;
                    opacity: 1;
                    font-size: 40px;">РАБОТАЕМ ЕЖЕДНЕВНО</h2>
                <p data-bottomtext="30%" >С 8 ДО 19 БЕЗ ПЕРЕРЫВА </p >
                <div class="links" data-bottomlinks="30%">

                </div>


              </div>
            </div><!-- End Container -->

          </li><!-- End item -->
          <li style="background:url(<%= asset_path('slide-3.jpg') %>) repeat;background-position:50% 0;background-size:cover;z-index: 0!important;">

            <div class="container">
              <div class="sixteen columns contain">
                <h2 data-toptitle="36%" style="color: #FFFFFF;
                    top: 39%;
                    left: 0px;
                    opacity: 1;
                    font-size: 40px;">РЕМОНТ И ДИАГНОСТИКА</h2>
                <p data-bottomtext="30%" >ГАРАНТИЯ КАЧЕСТВА</p >
                <div class="links" data-bottomlinks="30%">

                </div>


              </div>
            </div><!-- End Container -->

          </li><!-- End item -->
          <li style="background:url(<%= asset_path('slide-4.jpg') %>) repeat;background-position:50% 0;background-size:cover;z-index: 0!important;">

            <div class="container">
              <div class="sixteen columns contain">
                <h2 data-toptitle="36%" style="color: #FFFFFF;
                    top: 39%;
                    left: 0px;
                    opacity: 1;
                    font-size: 40px;">РАЗВАЛ / СХОЖДЕНИЕ</h2>
                <p data-bottomtext="30%" >НОВЫЕ ТЕХНОЛОГИИ</p >
                <div class="links" data-bottomlinks="30%">

                </div>


              </div>
            </div><!-- End Container -->

          </li><!-- End item -->


          </li><!-- End item -->-->
        </ul>
      </div>
    </div>
  </div>
</div>


<ul class=" margin-top-30 list-inline list-logo ">
  <li>
    <%= image_tag(image_path('audi.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('bmw.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('fiat.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('honda.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('hyundai.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('kia.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('lexus.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('mercedes.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('mitsu.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('nissan.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('skoda.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('toyota.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('volks.png') )%>
  </li>

</ul>
<section class="no-padding-top no-padding-bottom">

  <div class="container">
    <div class="section-heading-center">
      <h2 class="heading-border heading-thin border-primary">УСЛУГИ</h2>
    </div>
    <div class="row icon-info-center-group">
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('ohsis.jpg'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Противоугонные комплексы</h3>
          <p>Механические блокираторы, электронная защита автомобиля, спутниковые поисковые системы.</p>
        <a href="/avtodj" class="btn btn-primary btn-outline">ПОДРОБНЕЕ</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('shum.jpg'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Шумоизоляция автомобиля</h3>
          <p>Комплексная или частичная шумоизоляция салона автомобиля. </p>
          <a href="/avtodj" class="btn btn-primary btn-outline">ПОДРОБНЕЕ</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('zvuk.jpg'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Автозвук и аксессуары.</h3>
          <p>Магнитолы, акустика, видеорегистраторы, радар-детекторы, парктроники, камеры заднего обзора</p>
          <a href="/avtodj" class="btn btn-primary btn-outline">ПОДРОБНЕЕ</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('remontdv.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Ремонт двигателя</h3>
          <p>Техобслуживание двигателя и ремонт неисправностей ДВС импортных и отечественных автомобилей.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('remonttor.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Ремонт тормозной системы</h3>
          <p>Ввыполним ремонт любого узла тормозной системы, а также осуществим замену деталей.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('diagnost.jpg'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Компьютерная диагностика</h3>
          <p>Тестирование электронных систем и блоков автомобиля на выявление  и устранение ошибок.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('razval.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Развал-схождение</h3>
          <p>Регулирование угла наклона колес на компьютерном 3D стенде для автомобилей всех марок.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('maslo.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Замена масла и фильтров</h3>
          <p>Качественная замена масел и фильтров, фильтры и масла в наличии, а также на ваши собственные.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('kuzov.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Кузовные и малярные работы</h3>
          <p>Устранение сколов, царапин, восстановление геометрии кузова, антикоррозийная обработка.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('himchistka.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Полировка кузова и химчистка салона</h3>
          <p>Многолетний опыт работы в области полировки кузова и химчистки салона автомобиля позволяет нам гарантировать 100-% ный результат.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('mercasol.gif'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Антикоррозийная обработка</h3>
          <p>Организация "Автостар" производит антикорозийную обработку в Пятигорске с использование материалов Mercasol</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('bezpokraski.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Восстановительный ремонт без покраски</h3>
          <p>Кузовной ремонт без покраски неоспоримо экономит немалые деньги. Вам не приходится оплачивать работы по окраске деталей, их разборке и сборке.</p>
          <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#small-modal">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="no-padding-top no-padding-bottom">
  <div class="container">
    <div class="section-heading-center">
      <h2 class="heading-border heading-thin border-primary">ПОСЛЕДНИЕ РАБОТЫ</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <span class="overlay"></span>
          <a href="<%= image_path('last3.jpg') %>" class="image-magnific">
            <%= image_tag(image_path('last3.jpg') )%>
            <span class="thumbnail-icon">Полный цикл ремонтно-<br/>восстановительных работа</span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <a href="<%= image_path('last2.jpg') %>" class="image-magnific">
            <span class="overlay"></span>
            <%= image_tag(image_path('last2.jpg') )%>
            <span class="thumbnail-icon">Выполняем кузовные и малярные<br/>работы любой сложности.</span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <a href="<%= image_path('last1.jpg') %>" class="image-magnific">
            <span class="overlay"></span>
            <%= image_tag(image_path('last1.jpg') )%>
            <span class="thumbnail-icon">Покраска деталей кузова<br/>Полировка и хим.чистка</span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <a href="<%= image_path('last4.jpg') %>" class="image-magnific">
            <span class="overlay"></span>
            <%= image_tag(image_path('last4.jpg') )%>
            <span class="thumbnail-icon">Полировка фар</span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <a href="<%= image_path('last5.jpg') %>" class="image-magnific">
            <span class="overlay"></span>
            <%= image_tag(image_path('last5.jpg') )%>
            <span class="thumbnail-icon">Кузовной ремонт<br/>аварийного автомобиля</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<%  @n4 =  rand(10)%>
<%  @n5 =  rand(10)%>
<section class="no-padding-bottom">
  <div class="">
    <div class="cta-big cta-big-centered">
      <div class="container">
        <div class="main clearfix">
          <%= image_tag(image_path('quizz.png'),class: 'img-responsive main-img' )%>
          <div class="right">
            <div class="section-heading">
              <h2 class="heading-border-bottom-short border-primary">Остались вопросы?</h2>
            </div>
            <p class="lead">Оставьте Ваш номер и мы перезвоним</p>

            <%= form_tag (contact_path)  do %>
                <div class="input-group input-group-lg">
                  <input placeholder="Ваш телефон" required="required"   style="font-size: 30px;" class="form-control" data-mask="+7(999)999-99-99" type="text" name="phone">
                  <span class="input-group-btn"> <%= submit_tag 'Жду звонка' , class:'btn btn-primary btn-lg center-block'%></span>
                  </span>
                </div>
                <div class="col-sm-9 ">
                  <%= image_tag(image_path('capthca/'+@n4.to_s+'.png'), class: 'capctha',alt:'')%>
                  <%= image_tag(image_path('capthca/plus.png'), class: 'capctha',alt:'')%>
                  <%= image_tag(image_path('capthca/'+@n5.to_s+'.png'), class: 'capctha',alt:'')%>
                  <%= image_tag(image_path('capthca/eqal.png'), class: 'capctha',alt:'')%>
                  <input  name="n3" required="required" placeholder="Ответ" type="number">
                  <input id="nn1" name="n1" value="<%= @n4%>" type="hidden" />
                  <input id="nn2" name="n2" value="<%= @n5%>" type="hidden" />
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="fancy-checkbox">
                        <input type="checkbox" required="required">
                        <span style="font-size: 14px;
                            font-weight: bold;">Я даю свое согласие на хранение и обработку моих персональных данных.</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="alert"></div>
            <% end %>
          </div>
        </div>

      </div>


    </div>

  </div>
</section>




