<div class="tp-banner-container indent-header-2 page-main-content">

  <div class="slider-1 clearfix">

    <div class="flex-container">
      <div class="flexslider loading">
        <ul class="slides">
          <!-- SLIDE 1 -->
          <li style="background:url(<%= asset_path('slide-2.jpg') %>) repeat;background-position:50% 0;z-index: 0!important;">

            <div class="container">
              <div class="sixteen columns contain">
                <h2 data-toptitle="36%">Работаем ежедневно</h2>
                <p data-bottomtext="36%" >с 8 до 19 без перерыва</p >
                <div class="links" data-bottomlinks="30%">

                </div>


              </div>
            </div><!-- End Container -->

          </li><!-- End item -->

          <!-- SLIDE 2-->


          <!-- SLIDE 3
          <li style="background:url(images/flexslider/slider-bg-3.jpg) no-repeat; background-position:50% 0">

            <div class="container">
              <div class="sixteen columns contain">

                <h2 data-toptitle="36%">ALES MAECENAS</h2>
                <p data-bottomtext="39%">CRAS JUSTO ODIO, DAPIBUS AC FACILISIS </p>
                <div class="links" data-bottomlinks="30%">
                  <a class="button medium r-m-plus r-m-full" href="blog-single.html">READ MORE</a>
                </div>

                <img src="images/flexslider/jump-men.png" class="item" alt="slide-item" data-topimage="19%"/>

              </div>
            </div><!-- End Container -->

          </li><!-- End item -->-->
        </ul>
      </div>
    </div>
  </div>
</div>


<ul class=" margin-top-30 list-inline list-logo ">
  <li>
    <%= image_tag(image_path('audi.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('bmw.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('fiat.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('honda.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('hyundai.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('kia.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('lexus.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('mercedes.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('mitsu.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('nissan.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('skoda.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('toyota.png') )%>
  </li>
  <li>
    <%= image_tag(image_path('volks.png') )%>
  </li>

</ul>
<section class="no-padding-top no-padding-bottom">

  <div class="container">
    <div class="section-heading-center">
      <h2 class="heading-border heading-thin border-primary">УСЛУГИ</h2>
    </div>
    <div class="row icon-info-center-group">
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('remontdv.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Ремонт двигателя</h3>
          <p>Техобслуживание двигателя и ремонт неисправностей ДВС импортных и отечественных автомобилей.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('remonttor.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Ремонт тормозной системы</h3>
          <p>Ввыполним ремонт любого узла тормозной системы, а также осуществим замену деталей.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('diagnost.jpg'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Компьютерная диагностика</h3>
          <p>Тестирование электронных систем и блоков автомобиля на выявление  и устранение ошибок.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('razval.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Развал-схождение</h3>
          <p>Регулирование угла наклона колес на компьютерном 3D стенде для автомобилей всех марок.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('maslo.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Замена масла и фильтров</h3>
          <p>Качественная замена масел и фильтров, фильтры и масла в наличии, а также на ваши собственные.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('kuzov.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Кузовные и малярные работы</h3>
          <p>Устранение сколов, царапин, восстановление геометрии кузова, антикоррозийная обработка.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('himchistka.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Полировка кузова и химчистка салона</h3>
          <p>Регулирование угла наклона колес на компьютерном 3D стенде для автомобилей всех марок.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('mercasol.gif'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Антикоррозийная обработка</h3>
          <p>Качественная замена масел и фильтров, фильтры и масла в наличии, а также на ваши собственные.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-info icon-info-center">
          <%= image_tag(image_path('bezpokraski.png'), class: 'homefeature', data: {'topimage' => '19%'} )%>
          <h3 class="title">Восстановительный ремонт без покраски</h3>
          <p>Устранение сколов, царапин, восстановление геометрии кузова, антикоррозийная обработка.</p>
          <a href="#" type="button" class="btn btn-primary btn-outline">Заказать</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="no-padding-top no-padding-bottom">
  <div class="container">
    <div class="section-heading-center">
      <h2 class="heading-border heading-thin border-primary">ПОСЛЕДНИЕ РАБОТЫ</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <span class="overlay"></span>
          <a href="<%= image_path('last1.jpg') %>" class="image-magnific">
            <%= image_tag(image_path('last1.jpg') )%>
            <span class="thumbnail-icon"><i class="fa fa-expand"></i></span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <a href="<%= image_path('last1.jpg') %>" class="image-magnific">
            <span class="overlay"></span>
            <%= image_tag(image_path('last1.jpg') )%>
            <span class="thumbnail-icon"><i class="fa fa-expand"></i></span>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail-hover thumbnail-no-border">
          <a href="<%= image_path('last1.jpg') %>" class="image-magnific">
            <span class="overlay"></span>
            <%= image_tag(image_path('last1.jpg') )%>
            <span class="thumbnail-icon">Покраска деталей кузова<br/>Полировка и хим.чистка</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="no-padding-bottom">
  <div class="">
    <div class="cta-big cta-big-centered">
      <div class="container">
        <div class="main clearfix">
          <%= image_tag(image_path('quizz.png'),class: 'img-responsive main-img' )%>
          <div class="right">
            <div class="section-heading">
              <h2 class="heading-border-bottom-short border-primary">Остались вопросы?</h2>
            </div>
            <p class="lead">Оставьте Ваш номер и мы перезвоним</p>
            <form class="newsletter-form" method="post" style="width: 70%">
              <div class="input-group input-group-lg">
                <input style="font-size: 40px !important;" type="email" class="form-control" name="email" placeholder="+7 (---) --- -- --">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>Жду звонка</span></button>
								</span>
              </div>
              <div class="alert"></div>
            </form>
          </div>
        </div>

      </div>


    </div>

  </div>
</section>


