<% @ppage = 'shops'%>
<div id="vaz" data-section-title="vaz"></div>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      всегда есть нужная запчасть...

    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">


    <div class="row ">
      <div class="col-md-8 left " >
        <%= image_tag('pages/services/'+ @ppage + '/vaz1.jpg', class: ' thumbnail pagesimg2')%>
        <%= image_tag('pages/services/'+ @ppage + '/vaz2.jpg', class: ' thumbnail pagesimg2')%>

      </div>
      <div class="col-md-4 right">
        <div class="content">
          <h3 class="name heading-border-left border-primary uppercase">магазин автозапчастей ваз</h3>
          <div class="margin-top-30"></div>
          <p class="pwin">
            Магазин оригинальных автозапчастей для автомобилей семейства ВАЗ.
            Всегда в продаже автозапчасти на весь модельный ряд завода-изготовителя.
            В наличии кузовные принадлежности, детали двигателя, трансмиссии, подвески, рулевого управления,
            электрооборудование, оптика, моторные масла мировых производителей, автохимия и многое другое.
            Продажа автозапчастей ВАЗ осуществляется на территории ЗАО ПФ “Австостар”, слева от автосалона.
          </p>
          <p class="pwin">
            Магазин “Автозапчасти ВАЗ” предлагает широчайший ассортимент продукции под марками:
            ATE, HEPU, TWR, BOSCH, KRAFT, TECH, VBF, BREMBO, KRONER, БРТ, DEKAR, NOBEL, ДААЗ, FENOX,
            SCT, КААЗ, FERODO, OSBAP, КЗАТЭ, GKN, PILENGA, GLO, TEXTAR, ТЗА.
          </p>
          <div id="inomarki" data-section-title="inomarki"></div>
          <p class="pwin">
            Мы принимаем как наличный, так и безначиный рассчет.
          </p>
        </div>
      </div>
    </div>

    <hr>
    <div class="row ">
      <div class="col-md-6 left " >
        <div class="content">
          <h3 class="name heading-border-left  border-primary uppercase">магазин автозапчастей для иномарок</h3>
          <div class="margin-top-30"></div>
          <p class="pwoin">С 2015 года доступен сайт автозапчастей для иномарок в Пятигорске, где вы можете ознакомиться с интересующей вас запчастью, а также заказать ее.<br/>
            В магазине в наличии: </p>
          <ul>
            <li>Расходники на любые иномарки: свечи, колодки, лампочки, ремни, фильтра (воздушные, масляные, топливные, салонные)</li>
            <li>Ходовая, ГРМ на HYUNDAI Accent, Sonata, RENAULT Logan, LADA LARGUS, DAEWOO Matiz</li>
            <li>Ходовая, двигатель, глушители на ГАЗ, ИЖ</li>
            <li>Аккумуляторные батареи: BOSCH, MUTLU, TAB (гарантия 1 год)</li>
            <li>Инструмент, Багажники, Чехлы, Зарядные устройства</li>
            <li>Под заказ: запчасти на любые иномарки. Срок поставки 1-10 дней.</li>
            <li>Постоянным клиентам выдаем накопительные дисконтные карты</li>
            <li>При регистрации в нашем Интернет-Магазине, можно самостоятельно подобрать по каталогам необходимые запчасти. При регистрации Вам проставим оптовые цены, иногородним покупателям отправим почтой России или Транспортной компанией. Доставка до транспортной компании – бесплатно.
            </li>
          </ul>
          <p class="pwoin">
            Тел. +7(928)3421723, 8(8793)322219 доб. 111<br/>
            Время работы: Пн-Пт с 8-00 до 19-00, Сб-Вс с 8-00 до 18-00.<br/>
            Без перерыва, без выходных
          </p>
          <div id="avtodj" data-section-title="avtodj"></div>
        </div>
      </div>
      <div class="col-md-6 right">
        <%= image_tag('pages/services/'+ @ppage + '/ino.jpg', class: ' thumbnail pagesimg1')%>
      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="col-md-6 left " >
        <%= image_tag('pages/services/'+ @ppage + '/dj2.jpg', class: ' thumbnail pagesimg2')%>
      </div>
      <div class="col-md-6 right">
        <div class="content">
          <h3 class="name heading-border-left border-primary uppercase">магазин автоэлектроники AVTODJ</h3>
          <div class="margin-top-30"></div>
          <p class="pwin">
            Компания «АвтоDJ» занимается консультированием, продажей и
            установкой аудио, видео, охранных систем: автомагнитол, усилителей, акустики, сабвуферов, GPS —
            навигаторов, парктроников, автосигнализаций, а также различного дополнительного электрооборудования.
            Как на отечественные, так и на автомобили иностранного происхождения.
          </p>
          <p class="pwin">
            Консультирование, продажа и инсталляция продукта – таков стиль работы компании «АвтоDJ», а это значит, что обратившись к нам, вы получите:
          </p>
          <ul>
            <li>квалифицированную помощь наших специалистов при выборе аудио или видео – техники, а также мультимедийных и навигационных систем, радар-детекторов, видео-регистраторов</li>
            <li>подбор продукции в любой ценовой категории ( от недорогих систем до систем премиум — класса hi-end)</li>
            <li>подготовку и инсталляцию продукта квалифицированными специалистами</li>
            <li>максимум удовольствия от комфорта и безопасности вашего автомобиля</li>
          </ul>
        </div>
      </div>
    </div>







  </div>
</div>