<% @ppage = 'zonapriema'%>
<div class="page-header has-background-image" style="background-image:url(<%= image_path('pages/services/'+ @ppage + '/head.jpg')%>) ">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="page-title toupp">
      ЗОНА ПРИЕМКИ
    </h1>

  </div>
</div>

<div class="page-content">
  <div class="container">
    <ul>
      <li style="text-align: justify;">ТО состояния тормозной жидкости</li>
      <li style="text-align: justify;">ТО состояния аккумулятора</li>
      <li style="text-align: justify;">ТО состояния антифриза</li>
      <li style="text-align: justify;">Регулировка фар. Проверка силы и луча света фар</li>
      <li style="text-align: justify;">Проверка давления в шинах автомобиля</li>
      <li style="text-align: justify;">Стенд проверки амортизаторов, тормозов и схождения</li>
      <li style="text-align: justify;">Стенд люфт детектор</li>
      <li style="text-align: justify;">Проверка состояния передних и задних подшипников, трансмиссии и рулевого управления Вашего автомобиля</li>
    </ul>
    <%= image_tag('pages/services/'+ @ppage + '/2.jpg', class: ' thumbnail pagesimg')%>

    <h3 class="uppercase main-color" align="center">ТО состояния тормозной жидкости</h3>
    <p class="pwin">Безотказность тормозов — важнейшее условие безопасности управления автомобилем, поэтому к тормозным жидкостям предъявляются весьма жесткие требования. Но их свойства неизбежно ухудшаются в процессе эксплуатации, что требует полной замены с периодичностью, предусмотренной производителем.</p>
    <p class="pwin">На современных автомобилях, в силу целого ряда преимуществ, применяются в основном гликолевые тормозные жидкости. К сожалению, за год они могут «впитать» до 2-3% влаги и их нужно периодически заменять, не дожидаясь когда состояние приблизится к опасному пределу (см. рис). Периодичность замены указывается в инструкции по эксплуатации автомобиля и обычно составляет от 1 до 3 лет. Объективно оценить свойства тормозной жидкости можно только в результате лабораторных исследований. На практике состояние тормозной жидкости оценивают визуально – по внешнему виду. Она должна быть прозрачной, однородной, без осадка. Существуют приборы для определения состояния тормозной жидкости по температуре кипения или степени увлажнения. Но поскольку жидкость в системе не циркулирует, в бачке (место проверки) ее состояние может быть иным, чем в колесных цилиндрах. В бачке она контактирует с атмосферой, набирая влагу, а в тормозных механизмах нет. Но там жидкость часто сильно нагревается, в результате ее изначальные свойства ухудшаются.</p>
    <p class="pwin">Добавление свежей тормозной жидкости при прокачке системы, осуществляемой после ремонтных работ, практически не улучшает ситуацию, поскольку значительная часть ее объема при этом не меняется.</p>
    <p class="pwin">Жидкость в гидросистеме нужно заменять полностью. Последовательность и особенности этой операции, например прокачка с работающим двигателем, зависят от конструкции системы тормозов (типа усилителя, наличия антиблокировочных устройств и т.п.). Часто такая информация есть в руководстве по эксплуатации автомобиля.</p>
    <%= image_tag('pages/services/'+ @ppage + '/6.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">На отечественных автомобилях тормозную жидкость заменяют одним из следующих двух способов.</p>

    <p class="pwin">1. Полностью сливают старую жидкость, открыв все клапаны (штуцеры) выпуска воздуха из гидропривода тормозов. Затем заполняют бачок свежей жидкостью и закачивают ее внутрь системы, нажимая на педаль тормоза. Клапаны последовательно закрывают при появлении из них жидкости. Затем удаляют воздух из каждого контура (ветви) гидропривода («прокачивают» тормоза). При таком способе новая жидкость не смешивается со старой. Часть вышедшей при прокачке свежей жидкости можно снова применить (дав ей отстояться и профильтровав).</p>
    <p class="pwin">Примечание. До начала операции на каждый клапан нужно надеть отводящий шланг, опустив другой его конец в подходящую емкость – вытекающая тормозная жидкость может повредить шины и лакокрасочные покрытия на деталях подвески, тормозов, колес.</p>
    <p class="pwin">2. По очереди прокачивают каждый контур, постоянно доливая в бачок главного цилиндра свежую жидкость и таким образом вытесняют старую, не допуская осушения системы. Это продолжают до тех пор, пока из клапана не потечет свежая жидкость. При этом варианте воздух в гидропривод не может попасть и контрольная «прокачка» не требуется. Но не исключено, что часть старой жидкости останется в системе. Кроме того, свежей жидкости потребуется больше, чем при прокачке предыдущим способом. Это связано с тем, что большая ее часть, удаленная из гидропривода, смешивается со старой и становится непригодной для дальнейшего применения.</p>
    <h3 class="uppercase main-color" align="center">ТО состояния аккумулятора</h3>
    <p class="pwin">При ТО-1 очищают аккумуляторную батарею от пыли, грязи и нейтрализуют электролит на мастике и крышках, прочищают вентиляционные отверстия; проверяют крепление и надежность контакта наконечников проводов с выводами батарей; замеряют уровень электролита в каждом аккумуляторе батареи; проверяют крепление батареи в гнезде. При ТО-2 контролируют состояние аккумуляторов батареи по плотности электролита и напряжению под нагрузкой и при необходимости снимают батарею для подзаряда. Проверяют крепление батареи в гнезде, состояние и крепление наконечников проводов, соединяющих батарею с корпусом автомобиля, выключателем батареи и внешней цепью. При эксплуатации батарей в очень холодной зоне увеличивают плотность электролита перед зимней эксплуатацией и соответственно уменьшают плотность электролита перед летней.</p>

    <p class="pwin">Примечание:</p>
    <p class="pwin">Современные аккумуляторные батареи не подлежат ремонту, а приспособлены только к циклу заряд-разряд. А с нарушением рабочих характеристик подлежат утилизации.</p>
    <h3 class="uppercase main-color" align="center">ТО состояния антифриза</h3>
    <p class="pwin">Система охлаждения современного автомобиля не требует к себе постоянного внимания. Но периодически контролировать её всё же необходимо. Тем более, когда жидкость была залита в неустановленный период времени. Цель – проверить состояние антифриза и обеспечить качественную работу системы отопления салона.</p>
    <p class="pwin">Суть проверки сводится к проверке качества и наличия охлаждающей жидкости в радиаторе и расширительном бачке. Казалось бы, что это можно сделать и самостоятельно. Но я бы вам не советовал этого делать, если вы дорожите своим здоровьем и автомобилем.</p>

    <h3 class="uppercase main-color" align="center">Регулировка фар. Проверка силы и луча света фар</h3>
    <p class="pwin">Внешние световые приборы предназначены для освещения дорожного покрытия и пространства в темное время суток, в туман или во время сильных осадков. Также они служат для определения габаритов транспортного средства, и сигнализации другим участникам дорожного движения о намерении изменить скорость или направление автомобиля.</p>

    <p class="pwin">Неправильно настроенные световые устройства могут не только не обеспечивать нужной видимости, но и ослеплять водителей, едущих навстречу.Причиной плохого освещения может быть неправильное направление светового потока. Это может быть последствием неправильной установки или регулировки фары. Регулировка света фар должна проводиться с учетом следующих факторов: давление в шинах автомобиля, состояние подвески, нагрузка, действующая на разные оси автомобиля. Для легкового автомобиля регулировку, как правило, следует проводить с полным баком, инструментами и запаской.</p>
    <p class="pwin">Во избежание неправильной работы фар, во время прохождения технического обслуживания на станции рекомендуется их проверка. Регулировка фар в условиях СТО проводится с помощью специального устройства. Прибор для регулировки фар представляет собой оптическую камеру и устройство для ориентации. В оптической камере расположены фокусирующая линза, индикатор силы света и экран с разметкой. Проверку и регулировку фар следует проводить согласно ГОСТ 25478-91. В данном документе наведены соответствующие значения угла наклона светового пучка и расстояний от проекции центра фары к светотеневой границе. Регулировка противотуманных фар, габаритных огней, указателей поворотов и сигналов торможения проводится также в соответствии с ГОСТ 25478-91.</p>
    <p class="pwin">Правильно отрегулированные фары повышают безопасность движения и комфорт вождения в любое время суток и в любых условиях!</p>
    <%= image_tag('pages/services/'+ @ppage + '/1.jpg', class: ' thumbnail pagesimg')%>
    <h3 class="uppercase main-color" align="center">Проверка давления в шинах автомобиля</h3>
    <p class="pwin">Соблюдение правильного давления в шинах является главным правилом эксплуатации автомобиля. От того, на сколько значение его будет соответствовать оптимальному, на столько зависит Ваша безопасность и долговечность использования автомобильной покрышки.</p>
    <p class="pwin">Так почему же так важно соблюдать правильную накачку колес? Наличие давления ниже номинального на передней оси автомобиля приведет к тому, что колеса будут проворачиваться туго и отзывчивость рулевого управления будет менее четкой. Если низкое давление на задней оси – то поворачиваемость автомобиля на поворотах станет избыточной. В случае, когда давление меньше более чем на 0.5 бара, то достичь эффекта аквапланирования по влажной трассе гораздо проще, что объясняется меньшей площади пятна контакта колеса с дорожным покрытием. Отметим, что при номинальном давлении 2 атмосферы пятно контакта будет максимальным, соответствующим 100%. При снижении его на 0.5 атмосферы площадь покрытия снижается на 50%, на 1 атмосферу – еще в половину. Здесь прослеживается прямая зависимость вашей безопасности от подкачки колес.</p>
    <p class="pwin">Более того, при движении с давлением колес меньше на 20% от номинального, расход топлива увеличится на 30%, а это дополнительные затраты. Превышение давления может привести к повышенному износу покрышки и скорому ее выходу из строя.</p>
    <p class="pwin">Процедуру проверки давления шин нужно производить постоянно и регулярно, не реже одного раза в месяц и каждый раз, когда планируется длительная дальняя поездка. Помимо основных колес не лишним будет и проверить давление в запаске, ведь не исключено, что придется ей воспользоваться. Давление в каждом колесе должно соответствовать рекомендуемому значению заводом изготовителем. Сегодня популярна услуга подкачки колес азотом, однако это не панацея от того, чтобы не производить регулярную проверку давления. </p>
    <p class="pwin">У шин, в которых правильно выставлено давление, будет правильное распределение нагрузки и соответствующее пятно контакта, что отразится и на долговечности их использования и вашей безопасности.</p>
    <h3 class="uppercase main-color" align="center">Стенд проверки амортизаторов, тормозов и схождения</h3>
    <p class="pwin">Компьютерный тормозной стенд – один из основных комплексов линии технического контроля автомобилей нашего технического центра «Автостар». Тормозной стенд позволяет с высокой точностью определить текущее состояние систем торможения, подвески и амортизаторов автомобиля. Основная функция стенда – диагностика систем торможения, независимо от марки и модели автомобиля. Тормозной стенд определяет с высокой точностью такой параметр, как удельный путь торможения конкретного автомобиля. От колебаний этого параметра зависит один из важнейших показателей автомобиля – безопасность для водителя и пассажиров. За счет своевременного обнаружения и корректировки, тормозные стенды предотвращают огромное количество аварийных ситуаций.</p>
    <%= image_tag('pages/services/'+ @ppage + '/3.jpg', class: ' thumbnail pagesimg')%>
    <p class="pwin">Принцип работы стенда заключается в последовательном сборе и программной обработке результатов измерений и визуального контроля технического состояния АТС при помощи измерительных приборов и оборудования, входящих в комплектацию линии инструментального контроля. Процедура тестирования автомобиля управляется с пульта дистанционного управления, либо с клавиатуры обрабатывается и запоминается процессором, визуализация тестирования с помощью монитора, все изображения в 3D графике, печать результатов на принтере, интерфейс для подключения стенда увода, тестера подвески и газоанализатора, дымомера, тахометра, тестера света.</p>

    <p class="pwin">Перечень измеряемых параметров:</p>
    <ul>
      <li>Сопротивление качению;</li>
      <li>Овальность дисков или расцентровка тормозного барабана;</li>
      <li>Максимальное тормозное усилие на колесо;</li>
      <li>Разность тормозных усилий между правым и левым колесами одного моста;</li>
      <li>Эффективность торможения рабочего и стояночного тормозов;</li>
      <li>Усилие на педаль ножного тормоза и на рычаг ручного тормоза;</li>
      <li>На тормозном стенде можно испытывать и автомобили с приводом на все колеса.</li>
    </ul>
    <h3 class="uppercase main-color" align="center">Стенд люфт детектор</h3>
    <p class="pwin">Пост диагностики подвески – Важная часть проверки автомобиля. Так было, так есть и так будет до тех пор, пока в нашей стране не станет хотя бы одной бедой меньше. Это американцы с европейцами могут закрывать производство стендов проверки амортизаторов. Для них это оборудование действительно потеряло актуальность лет 10 назад. Что же касается российского рынка, то это наиболее востребованная проверка автомобиля. Если вспомнить качество наших дорог, то у вас отпадут все вопросы, для чего это делается и кому это нужно. Это нужно каждому, кто катается по нашим дорогам. И будет нужно еще долгое время, как я могу представить.</p>
    <%= image_tag('pages/services/'+ @ppage + '/4.jpg', class: ' thumbnail pagesimg')%>
    <h3 class="uppercase main-color" align="center">Проверка состояния передних и задних подшипников, трансмиссии и рулевого управления</h3>
    <p class="pwin">Проверку состояния ходовой части и трансмиссии выполняем через каждые 15 тыс. км пробега.</p>
    <p class="pwin">На деталях ходовой части (колесах, рычагах подвесок, стабилизаторе поперечной устойчивости, подрамнике передней подвески, балке задней подвески, амортизаторах и пружинах подвесок) и трансмиссии (валах приводов передних колес) не должно быть деформаций, трещин и других механических повреждений, влияющих на форму и прочность деталей.</p>
    <%= image_tag('pages/services/'+ @ppage + '/5.jpg', class: ' thumbnail pagesimg')%>
  </div>

</div>