<!DOCTYPE html>
    <html lang="en" >

    <head>
      <title><%= @title %></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="<%= @description %>">
      <meta name="keywords" content="<%= @keywords %>">
      <meta name="author" content="ЗАО ПФ АВТОСТАР">

      <%= csrf_meta_tags %>
      <!-- CORE CSS -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- GOOGLE FONTS-->
      <link href="https://fonts.googleapis.com/css?family=Exo+2:300" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
      <!-- FAVICONS -->

      <link rel="shortcut icon" href="<%= image_path ('favicon.ico') %>">
    </head>

    <body>
    <!-- WRAPPER -->
    <div id="wrapper">


      <!-- NAVBAR -->
      <%= render 'shared/header' %>
      <!-- END NAVBAR -->
      <!-- PAGE HEADER MINIMAL CENTER -->
      <%= yield %>
      <% if flash[:smssend] %>
          <div id="sms-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: block; padding-right: 17px;">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel2">Запрос отправлен</h4>
                </div>
                <div class="modal-body">
                  <p>Спасибо за обращение, <%= flash[:smssend] %>...</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> Закрыть</button>

                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
              $( document ).ready(function(){
                  $('#sms-modal').modal('show');
              });
          </script>
      <% end %>
      <!-- END PAGE CONTENT -->
      <!-- FOOTER -->
      <%= render 'shared/footer' %>
      <!-- END FOOTER -->
      <div class="back-to-top">
        <a href="#top"><i class="fa fa-chevron-up"></i></a>
      </div>
    </div>
    <!-- END WRAPPER -->

    </body>
<%= javascript_include_tag 'bravana'%>

    </html>
